spring:
  application:
    name: config-server
  profiles:
    active: native #использование конфигов из classpath
  cloud:
    config:
      server:
        native:
          search-locations:
            - classpath:config/telemetry/{application}
  eureka:
    client:
      service-url:
        default-zone: http://localhost:8761/eureka/

server:
  port: 0 # random port number